.mainCardContainer{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.card {
  /* border: 2px solid red; */
  display: inline-block;
  position: relative;
  border: 10px;
  margin: 0.5rem;
  cursor: pointer;
  height: 300px;
  min-width: 200px;
  border: 1px solid grey;
  overflow: hidden;
  
}

.cardImg {
  height: 300px;
}

.cardOverlay {
  position: absolute;
  padding: 1rem;
  bottom: 0;
  height: 300px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6),
    rgb(0, 0, 1)  );
  opacity: 0;
  transition: opacity .1s;
}

.cardOverlay:hover{
    opacity: 1;
}

.card_Title{
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.posterImageReleasingDateRating{
    font-size: .75rem;
    margin-bottom: .5rem;
}

.posterImageReleasingDateRating span{
    margin-left: 2rem;
}